demo/reports/symbol.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DRAWING">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INSERT" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="LETTER"/>
							<xs:element type="xs:byte" name="NUMBER"/>
							<xs:element type="xs:string" name="DESCRIPTION"/>
						</xs:sequence>
						<xs:attribute type="xs:string" name="HANDLE" use="optional"/>
						<xs:attribute type="xs:string" name="NAME" use="optional"/>
						<xs:attribute type="xs:decimal" name="X" use="optional"/>
						<xs:attribute type="xs:decimal" name="Y" use="optional"/>
						<xs:attribute type="xs:decimal" name="Z" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>